* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 15px;
  background-color: #ffffff;
}

.header img {
  margin-left: 10%;
}

.navbar a {
  font-size: 15px;
  color: #5c5c5c;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  color: #ff4341;
}

.content {
  position: relative;
}

.content img {
  width: 100%;
  height: auto;
}

.content .left {
  display: block;
  position: absolute;
  left: 10%;
  top: 20%;
  width: 30%;
  color: white;
}

.content button {
  border: none;
  background-color: red;
  color: white;
  text-align: center;
  width: 200px;
  height: 50px;
}

.courses {
  padding: 10%;
  padding-top: 2%;
}

.course {
  width: 90%;
  text-align: center;
}

.courses img {
  width: 300px;
  height: auto;
}

.courses p {
  display: block;
  padding-left: 10%;
}

.courses .course {
  width: 200px;
}

.courses .course p {
  display: block;
  color: black
}

.courses .course button {
  border: none;
  background-color: red;
  color: white;
  text-align: center;
  width: 150px;
  height: 40px;
}

.footer {
  background-color: #1F2330;
  color: #ffffff;
  padding: 60px;
}

.footer p {
  color: #a3a3a3;
}

.footer p.title {
  color: #ffffff;
  font-size: 20px;
}

.copyright {
  padding: 5px;
  background-color: #1B1D29;
  color: #ffffff;
  text-align: center;
}